extends layout

block content
	.container
		.row
			.col-md-3.col-md-offset-3
				h1 Cart Node.JS
			.col-md-2.col-md-offset-4
				#cart.radius
					span Cart
					span#count= max
		.row
			.legend
				span.col-sm-1 Name
				span.col-sm-1 Price
				span.col-sm-1 amount
		.row
			for product in products
				.product.row
					span.col-sm-1= product.name
					span.col-sm-1= product.price
					span.col-sm-1= product.amount
					span.col-sm-1= product.inCart
					button.btn.btn-success.col-sm-1 Buy